/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 重置列表元素 */
ul, ol {
    list-style: none;
}

/* 重置文本格式元素 */
a {
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* 设置左、右浮动 */
.fl {
    float: left;
}

.fr {
    float: right;
}